 ## 7.Using Series attributes and methods (e.g., head(), tail(), describe())

### Certainly, let's go through the code with explanations for each Pandas Series attribute and method:

In [2]:
import pandas as pd

In [9]:
# Creating a Pandas Series
data = {'A': 10, 'B': 20, 'C': 30, 'D': 40, 'E': 50}
series = pd.Series(data)

# Display the Series
print("Series:")
print(series)

Series:
A    10
B    20
C    30
D    40
E    50
dtype: int64

##### In this code, we create a Pandas Series called series using a Python dictionary data. This Series has custom index labels ('A', 'B', 'C', 'D', 'E') associated with their respective values.

# Using Series Attributes and Methods

## 1. head(N): 

### The head() method allows you to view the first N rows of the Series. By default, it displays the first 5 rows.

In [10]:
print("\nHead (first 3 rows):")
print(series.head(3))

Head (first 3 rows):
A    10
B    20
C    30
dtype: int64

### Result: Displays the first 3 rows of the Series.

## 2.tail(N): 

### The tail() method allows you to view the last N rows of the Series. By default, it displays the last 5 rows.

In [12]:
print("\nTail (last 2 rows):")
print(series.tail(2))

Tail (last 2 rows):
D    40
E    50
dtype: int64

### Result: Displays the last 2 rows of the Series.

## 3.describe(): 

### The describe() method provides summary statistics of the Series, including count, mean, standard deviation, minimum, 25th percentile, median (50th percentile), 75th percentile, and maximum.

In [13]:
print("\nDescribe:")
print(series.describe())

Describe:
count     5.000000
mean     30.000000
std      15.811388
min      10.000000
25%      20.000000
50%      30.000000
75%      40.000000
max      50.000000
dtype: float64

### Result: Displays the summary statistics of the Series.

## 4. shape: 

### The shape attribute returns a tuple representing the dimensions of the Series, where the first element is the number of rows and the second element is the number of columns (always 1 for a Series).

In [ ]:
print("\nShape:")
print(series.shape)

### Result: Displays the shape of the Series as (5,) indicating 5 rows and 1 column.

## 5. values: 

### The values attribute returns the values of the Series as a NumPy array

In [ ]:
print("\nValues:")
print(series.values)

### Result: Displays the values of the Series as a NumPy array

## 6. count(): 

### The count() method returns the count of non-null elements in the Series.

In [14]:
print("\nCount:")
print(series.count())

Count:
5

### Result: Displays the count of non-null elements (5 in this case).

## 7.sum(): 

### The sum() method returns the sum of all elements in the Series.

In [ ]:
print("\nSum:")
print(series.sum())

### Result: Displays the sum of all elements (150 in this case).

## 8. mean(): 

### The mean() method returns the mean (average) of the elements in the Series.

In [ ]:
print("\nMean:")
print(series.mean())

Result: Displays the mean of the elements (30.0 in this case).

## 9. median(): 

### The median() method returns the median (middle value) of the elements in the Series

In [ ]:
print("\nMedian:")
print(series.median())

### Result: Displays the median of the elements (30.0 in this case).

### These attributes and methods provide valuable insights and allow you to work with and explore your Pandas Series effectively.